.DS_Store
.ipynb_checkpoints
__pycache__
*.csv
.env
*.png
*.jpg
venv/
switch_github.sh

# Markdown files
*.md

# Test files
test_*

# Demo files
*demo*

# Log files and directories
*.log
logs/
**/logs/